/server/node_modules/
/server/.env
/server/init/init_collection.js
/server/logs/
/server/demo/
/plans
/work-flow


/backend-marketplace
/backend-single-shop
/backend-admin
# /backend-seller
/backend-support
/frontend-marketplace
/frontend-single-shop
/frontend-admin
/frontend-seller
/frontend-support
/shared-libraries
/database
/docs
/server/*

# Universal stop
temp
temp.js
.env
node_modules
package-lock.json
/*/package-lock.json
uplodes